{% extends 'employee_layout.html' %} {% load static%} {%load bootstrap%} {% load crispy_forms_tags %} {% block title %}


Employee Attendance | HRM

{% endblock title%}


{% block main %}



<h1>Attendance</h1>

    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <nav aria-label="breadcrumb" class="mt-4">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"> <a href="/employee/dashboard" class="text-primary">Dashboard</a> </li>
                        <li class="breadcrumb-item active" aria-current="page">My Attendance </li>
                    </ol>
                    {% include 'message.html'%}

                </nav>
                <div class="col-lg-12 grid-margin">


                    <div class="card shadow mb-4 py-4">
                        <div class="card-body">

                                <h4 class="text-center text-primary mt-4"> My Attendance </i></h4><hr>

                                <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            User
                                                        </th>
                                                        <th>
                                                            Date
                                                        </th>
                                                        
                                                        <th>
                                                            In Time
                                                        </th>
                                                        <th>
                                                            Status
                                                        </th>
                                                    
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for a in atten %}
                                                        <tr>
                                                            <td>
                                                            {{a.staff}}
                                                            </td>
                                                            <td class="py-1">
                                                                {{a.date}}
                                                            </td>
                                                            <td>
                                                            <strong>{{a.first_in}}</strong>  
                                                            </td>
                                                            <td>
                                                                <strong>{{a.status}}</strong>  
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                </div>


                                
                </div>
            </div>
        </div>
    </div>





{% endblock %}