{% extends 'employee_layout.html' %} {% load static%} {%load bootstrap%} {% load crispy_forms_tags %} {% block title %}


Employee Profile | HRM

{% endblock title%}


{% block main %}

<style>
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    position: unset !important;
    box-shadow: 0 2px 10px rgb(0 22 84 / 10%);
    margin: 10px auto;
    position: relative;
  }
  .card .card-header {
    display: flex;
    justify-content: center;
    height: 12em;
    background-color:#5bc3ee;
  }
  .profile-image {
    height: 10em;
    width: 10em;
    border-radius: 50%;
    box-shadow: 0 0.2em 0.5em;
    object-fit: cover;
  }
  .card-footer span {
    color: #4a5682;
    font-family: Poppins;
    font-weight: 500;
  }
</style>

<div style="margin-top: 1rem">
  <nav aria-label="breadcrumb" class="mt-4">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"> <a href="/employee/dashboard" class="text-primary">Dashboard</a> </li>
                        <li class="breadcrumb-item active" aria-current="page">Employee Profile </li>
                    </ol>
                </nav>

  <h4 class="text-center">Your Profile</h4>

  <div class="container mb-4">


    <div class="card" style="width: 40rem">
      {% include 'message.html'%}
  <a class="btn btn-primary btn-sm ms-auto py-2 mb-2" href="/employee/employee_update_profile">Update Profile</a>

      <div class="card-header">
        <img src="/{{request.user.profile.profile_pic}}" width="60%" class="card-img-top profile-image" />
      </div>
      <div class="card-footer">
        <div class="py-3">
          <b> First Name :</b>
          <span>{{request.user.profile.first_name}}</span>
        </div>
        <div class="py-3"><b>Last Name :</b> <span>{{request.user.profile.last_name}}</span></div>
        <div class="py-3"><b>Department :</b> <span>{{request.user.profile.department}}</span></div>
        <div class="py-3"><b>Email :</b> <span>{{request.user.profile.email}}</span></div>
        <div class="py-3"><b>Phone :</b> <span>+977 {{request.user.profile.phone}}</span></div>
        <div class="py-3"><b>Address :</b> <span>{{request.user.profile.address}}</span></div>
        <div class="py-3"><b>City :</b> <span>{{request.user.profile.city}}</span></div>
      </div>
    </div>
  </div>

</div>


{% endblock %}