{% extends 'employee_layout.html' %} {% load static%} {%load bootstrap%} {% block title %}


Employee Dashboard | HRM

{% endblock title%}


{% block main %}

<style>

.form-group label{
    display:none;
}


</style>



    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <nav aria-label="breadcrumb" class="mt-4">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"> <a href="/employee/dashboard" class="text-primary">Dashboard</a> </li>
                        <li class="breadcrumb-item active" aria-current="page">Leave Management </li>
                    </ol>
                    {% include 'message.html'%}

                </nav>
                <div class="col-lg-12 grid-margin">


                    <div class="card shadow">
                        <div class="card-body">
                           <h4 class="text-center text-primary">Apply Leave </i></h4><hr>
                                <form class="form-group" method="POST">
                                    {% csrf_token %}
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                         <th>
                                                            User
                                                        </th>
                                                       
                                                        <th>
                                                            Start Date
                                                        </th>
                                                        
                                                        <th>
                                                            End Date
                                                        </th>
                                                        <th>
                                                            Leave Type
                                                        </th>
                                                        <th>
                                                            Reason
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                                {{request.user }}
                                                        </td>
                                                        
                                                        <td class="py-1">
                                                            {{form_leave.start | bootstrap}}
                                                        </td>
                                                        
                                                        <td>
                                                           {{form_leave.end | bootstrap}}
                                                        </td>
                                                        <td>
                                                            {{form_leave.leavetype | bootstrap}}
                                                        </td>
                                                        <td>
                                                            {{form_leave.reason | bootstrap}}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        
                                    <div class="text-center mt-3">
                                        <button class="btn btn-rounded btn-outline-success"><i class="mdi mdi-check"></i>Submit</button></button>
                                    </div>
                                </form><br>


                            
                </div>
            </div>
        </div>
    </div>




                    <div class="card mt-4 mb-4 shadow">
                        <div class="card-body">
{% if form_leave %}
                            <h4 class="text-center text-primary mt-4 py-4"> Leaves Status</h4><hr>

                            <small class='text-center'>This is a list of leaves application. </small>
                             <div class="table-responsive mt-4">
                                            <table class="table table-striped mt-4">
                                                <thead>
                                                    <tr>
                                                       
                                                        <th>
                                                            Start Date
                                                        </th>
                                                        
                                                        <th>
                                                            End Date
                                                        </th>
                                                        <th>
                                                            Status
                                                        </th>
                                                        <th>
                                                            Leave Type
                                                        </th>
                                                        <th>
                                                            Reason
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for leave in leaves %}
                                                        <tr>
                                                            
                                                            <td class="py-1">
                                                            <strong>{{leave.start}}</strong>  

                                                            </td>
                                                            <td>
                                                            <strong>{{leave.end}}</strong>  
                                                            </td>
                                                            <td>
                                                                {% if leave.status == 'Approved' %}
                                                                <span class="btn btn-success">
                                                                    {{leave.status}}
                                                                </span> 
                                                                {%endif%} 

                                                                {% if leave.status == 'Declined' %}
                                                                <span class="btn btn-danger">
                                                                    {{leave.status}}
                                                                </span> 
                                                                {%endif%} 
                                                                {% if leave.status == 'Not Approved' %}
                                                                <span class="btn btn-warning">
                                                                    {{leave.status}}
                                                                </span> 
                                                                {%endif%}

                                                                
                                                                

                                                            </td>
                                                            <td>
                                                            {{leave.leavetype}}
                                                            </td>
                                                            <td>
                                                                {{leave.reason}}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                            {% else %}
                                <p class="lead"> There are currently no leave application. </p>
                            {% endif %}   
                                </div>
                            </div>




{% endblock %}