{% extends 'admin_layout.html' %} {% load static%} {%load bootstrap%} {% block title %}

Admin Dashboard | HRM
{% endblock title%}

{% block main %}
<style>
  body {
    /* background-color: #353a40; */
    top:5rem;
  }

</style>


<div id="wrapper">
  <div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
      <div class="container-fluid">
        <div class="d-sm-flex justify-content-between align-items-center mb-4">
          <h3 class="text-dark mb-0">Admin Dashboard</h3>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-xl-4 mb-4">
            <a href="/admins/employee">
              <div class="card shadow border-0 py-2">
                <div class="card-body">
                  <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                      <div class="text-muted mb-1"><span>Employee Total Count</span></div>

                      <div class="text-secondary fw-normal display-6 h5 mb-0">

                        <span> Employee: <span class="text-success">{{ totalEmployee }} </span></span>
                      </div>
                    </div>
                    <div class="col-auto" style="color: black"><i class="fas fa-user fa-3x"></i></div>
                  </div>
                </div>
              </div>
            </a>
          </div>

          <div class="col-lg-6 col-md-6 col-xl-4 mb-4">
            <a href="/admins/department">
              <div class="card shadow border-0 py-2">
                <div class="card-body">
                  <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                      <div class="text-muted mb-1"><span>Available Department</span></div>
                      <div class="text-secondary fw-normal display-6 h5 mb-0">
                        <span> Department: <span class="text-info">{{ totalDepartment}}</span></span>
                      </div>
                    </div>
                    <div class="col-auto" style="color: black"><i class="fa fa-th-large fa-3x"></i></div>
                  </div>
                </div>
              </div>
            </a>
          </div>

          <div class="col-lg-6 col-md-6 col-xl-4 mb-4">
            <a href="/admins/alladmins">
              <div class="card shadow border-0 py-2">
                <div class="card-body">
                  <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                      <div class="text-muted mb-1"><span>Admin Total Count</span></div>
                      <div class="text-secondary fw-normal display-6 h5 mb-0">
                        <span> Admin <span class="text-info">{{ totalAdmin}}</span></span>
                      </div>
                    </div>
                    <div class="col-auto" style="color: black"><i class="fas fa-user-secret fa-3x"></i></div>
                  </div>
                </div>
              </div>
            </a>
          </div>



        <div class="row">
          <div class="col-lg-10 col-xl-8">
            <div class="card mb-4 shadow border-0">
              <div class="card-header d-flex justify-content-between align-items-center">
                <h6 class="text-primary text-center fw-bold m-0">User Overview</h6>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="card">
                      <div class="card-header d-flex justify-content-between align-items-center">
                        <h6 class="text-primary fw-bold m-0">Employee</h6>
                      </div>
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">ID</th>
                              <th scope="col">Username</th>
                              <th scope="col">Joined Date</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for i in employee_info %}
                            <tr>
                              <th scope="row">{{ i.id }}</th>
                              <td>@{{ i.username }}</td>
                              <td>{{ i.date_joined }}</td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card">
                      <div class="card-header d-flex justify-content-between align-items-center">
                        <h6 class="text-primary fw-bold m-0">Admins</h6>
                      </div>
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">ID</th>
                              <th scope="col">Username</th>
                              <th scope="col">Joined Date</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for i in admin_info %}
                            <tr>
                              <th scope="row">{{ i.id }}</th>
                              <td>@{{ i.username }}</td>
                              <td>{{ i.date_joined}}</td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>




{% endblock main%}