{% extends 'admin_layout.html' %} 
{% load bootstrap %}
 {% load static %} 
 {% block title %}
All Admins | Admin HRM
 {%endblock title %} 

 {% block main %}
<div class="d-flex justify-content-between">
  <h3 class="text-dark mb-4 px-4 display-6 mt-lg-5"> All Admins</h3>
</div>
<nav aria-label="breadcrumb" class="mt-4">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"> <a href="/admins/dashboard" class="text-primary">Dashboard</a> </li>
                        
                        <li class="breadcrumb-item active" aria-current="page">All Admins</li>

                    </ol>

                </nav>
<div class="container-fluid mt-4" style="min-height: 100vh">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      {% include 'message.html' %}

      <div class="table-responsive shadow py-3 px-3">
        <table class="table table-striped table-hover">
          <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Username</th>
            <th>Active Status</th>

          </tr>
          {% for i in admins %}
          <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.email }}</td>
            <td>{{ i.username }}</td>
            <td>{{ i.is_active }}</td>



          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}